<!DOCTYPE html>
<html>
<head>

    <% include ../partials/head %>

</head>
<body>
<div class="grid">
    <% include ../partials/header %>
    <main>
        <!-- Main image carousel -->
        <div id="carouselBox">
            <img src="/images/aurora.jpg" alt="">
        </div>
    </main>
    
    <div class="destination-left">
        <div class="destination-image">
            <img src="/images/<%= destinations[0].featuredImage %>" alt="">
        </div>
        <div class="destination-text">
            <p>
                <%= destinations[1].title %>
            </p>
            <p>
                <%= destinations[1].shortDescription %>
            </p>
            <a href="view/<%= destinations[1].id %>">view</a>

        </div>
        <div class="destination-image">
            <img src="/images/<%= destinations[2].featuredImage %>" alt="">

        </div>
    </div>
    <div class="destination-right">
        <div class="destination-text">
            <p>
                <%= destinations[0].title %>
            </p>
            <p>
                <%= destinations[0].shortDescription %>
            </p>
            <a href="view/<%= destinations[0].id %>">view</a>

        </div>
        <div class="destination-image">
            <img src="/images/<%= destinations[1].featuredImage %>" alt="">
        </div>
        <div class="destination-text">
            <p>
                <%= destinations[2].title %>
            </p>
            <p>
                <%= destinations[2].shortDescription %>
            </p>
            <a href="view/<%= destinations[2].id %>">view</a>

        </div>
    </div>

    <footer>
        Footer
    </footer>
</div>
</body>
</html>